netboot
notes
cruft
*.core
*.log
*.pem
*postactivate
template/dist
template/certs
template/dist_init_files
bootimg/testdata/*
bootiso/testdata/*
server/testdata/*
*.exe
dist
template/ipxe/*.rd
template/ipxe/*.gz
template/iso
.fmt
template/distfiles.go
