netboot
notes
cruft
*.core
*.log
*postactivate
template/debian
template/alpine
template/pub
template/ipxe
template/netboot
template/openbsd
template/certs
bootimg/testdata/*
bootiso/testdata/*
server/testdata/*
